@import '../../shared/styles/main.scss';

.Container {
  display: flex;
  justify-content: center;
}

.Container__layout {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 1160px;
  gap: 24px;

  &.mobile {
    width: 100%;
    padding: 20px 16px;
  }
}
