// Grayscale Colors
$gray-00: #ffffff;
$gray-10: #f8f8f9;
$gray-20: #f1f3f7;
$gray-30: #cccfda;
$gray-40: #9395b8;
$gray-50: #7b7ea5;
$gray-60: #353754;
$gray-70: #06082c;
$gray-80: #03051c;

// System Colors
$light-red: #d21010;
$green: #38c972;

// Landing Page Colors
$blue: #0135b3;
$dark-blue: #011595;
$brown: #dd9529;

// Additional Colors
$gold: linear-gradient(to right, #be823b 0%, #d0a461 64%, #fed5a5 100%);
$silver: linear-gradient(to right, #878788 0%, #bfc0c5 64%, #939499 100%);
$bronze: linear-gradient(to right, #74391d 0%, #c46236 64%, #ff9b67 100%);
$skeleton: linear-gradient(to right, #bbbbbb 100%, #dbdbdb 5%);

// Effects
$opacity-60: rgba(0, 0, 0, 0.6);
$dropdown-shadow: 1px 1px 9.5px rgba(0, 0, 0, 0.1);
