@import '../../../shared/styles/main.scss';

.post {
  background-color: $gray-00;
  padding: 28px 20px;
  border-radius: 20px;

  &__nameDate {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: $gray-40;
    @extend .footnote-regular-12pt;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    color: $gray-70;
    @extend .title-semibold-20pt;
  }

  &__text {
    @extend .body-medium-14pt;
    margin-bottom: 16px;
  }

  &__imagesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
    min-height: 412px;
    max-height: 624px;
    &.mobile {
      min-height: 196px;
      max-height: 300px;
    }

    .post__imageWrapper {
      flex: 1 1 auto;
      overflow: hidden;
      border-radius: 14px;
      max-width: calc(100% / 3 - 8px);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.blackened {
        position: relative;

        img {
          filter: brightness(50%);
        }
      }
    }
  }

  &__imageWrapper {
    overflow: hidden;
    border-radius: 14px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__viewsComments {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 16px;

    &__views,
    &__comments {
      color: $gray-50;
      display: flex;
      align-items: center;
      gap: 4px;
      @extend .body-medium-14pt;
      .post__icon {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }

  & .post__profilepic {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    & img {
      width: 40px;
    }
  }

  &__commentHeader {
    display: flex;
    gap: 12px;
  }

  &__commentsSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    & .post__commentsSection__line {
      height: 1px;
      width: 100%;
      margin-top: 16px;
      background-color: $gray-20;
    }

    &__comment {
      margin-top: 16px;

      &__header {
        display: flex;
        gap: 12px;
      }

      &__right_top {
        display: flex;
        align-items: center;
        gap: 3px;
      }
      &__name {
        @extend .body-medium-14pt;
        color: $gray-50;
      }

      &__verification {
        width: 16px;
        height: 16px;
      }

      &__text {
        @extend .body-medium-14pt;
        color: $gray-70;
        margin-top: 4px;
        margin-bottom: 8px;
      }

      &__date {
        @extend .body-medium-14pt;
        color: $gray-40;
        span {
          &.post__commentsSection__comment__replyText {
            color: $gray-60;
            margin-left: 6px;
            cursor: pointer;
          }
        }
      }

      &__reply {
        margin-top: 16px;
        margin-left: 32px;
      }
    }
  }
  &__seeAllComments {
    button {
      background-color: transparent;
      border: none;
      color: blue;
      cursor: pointer;
      padding: 0;
      font-size: 14px;
    }
  }
}
